<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <div class="navbar navbar-inverse bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'newsToday' %}">Tribune</a>
                </div>
                <div class="col-sm-4 col-md-4 navbar-right">
                    <form class="navbar-form" role="search" action="{% url 'search_results' %}}">
                        <div class="input-group">
                            <input type="text" name="article" class="form-control" placeholder="Search Articles">
                            <div class="input-group-btn">
                                <button type="submit" class="form-control btn btn-secondary ml-2 btn-md"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 col-md-4 navbar-right">
                    {% if user.is_authenticated %}
                        <ul>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown" role="button" aria-expanded="false">
                                   {{user.username}} Account <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url 'newsToday' %}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'news_article' %}">Create article</a>
                                    </li>
                                    <li>
                                        <a href="/accounts/password/change">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="/logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <li>
                            <a href="/accounts/login" class="btn btn-secondary">Login</a>
                        </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</body>
</html>