<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <div class="navbar navbar-inverse bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'newsToday' %}">Tribune</a>
                </div>
                <div class="col-sm-4 col-md-4 navbar-right">
                    <form class="navbar-form" role="search" action="{% url 'search_results' %}}">
                        <div class="input-group">
                            <input type="text" name="article" class="form-control" placeholder="Search Articles">
                            <div class="input-group-btn">
                                <button type="submit" class="form-control btn btn-secondary ml-2 btn-md"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>